.fieldWrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  line-height: 1.75;
}

.labelWrapper {
  flex: 1;
  text-align: left;
}

.valueWrapper p {
  font-weight: 700;
}

.valueWrapper {
  flex: 2;
}

.wordBreakAll {
  word-break: break-all;
}

.inputs {
  font-family: var(--font-body);
  border: 1px solid #c2bcbc;
  border-radius: 5px;
  height: 30px;
  padding: 12px;
  margin: 8px 0;
}

.textarea {
  font-family: var(--font-body);
  border: 1px solid #c2bcbc;
  border-radius: 5px;
  height: 80px;
  padding: 12px;
  margin: 8px 0;
}
