.formContainer {
  background-color: #175a4e;
  color: #175a4e;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInputContainer {
  /* background-color: #ffeeee; */
  /* background-color: #ebebbc; */
  background-color: blanchedalmond;
  width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 10px;
}

.formInputs {
  display: flex;
  margin: 1.15rem;
}

.formInputs input {
  color: #175a4e;
  font-family: inherit;
  border-radius: 5px;
  border: 1px solid #175a4e;
  height: 30px;
  width: 200px;
  text-align: left;
  padding: 0 16px;
}

.addBtn {
  background-color: #175a4e;
  /* background-color: #78ac6c; */
  color: white;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  width: fit-content;
  height: 30px;
  padding: 0 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addBtn:hover {
  background-color: #144038;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.labelWrapper {
  min-width: 100px;
  text-align: left;
}
