.heading {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  color: white;
}

.employeeListContainer {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.employeeListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
