.personCardContainer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  border-bottom: 30px solid #e9ca8d;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personCardWrapper {
  padding: 1rem 1.5rem;
}

.alertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 10px;
  margin-bottom: 1.15rem;
}
.alertContainerSuccess {
  background-color: #a5c9a5;
  color: #1e4620;
}
.alertContainerWarning {
  background-color: #e4e08d;
  color: #434218;
}

.cardHeaderContainer {
  background-color: #e9ca8d;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #d2bf98;
  justify-content: space-around;
  font-family: var(--font-heading);
  font-size: 1.15rem;
}

.confirmMsg {
  font-size: 0.85rem;
  text-align: center;
  margin-top: 10px;
  border-radius: 8px;
  padding: 4px;
}
.successMsg {
  border: 1px solid #a5c9a5;
  color: var(--success-msg-text-color);
}
.failedMsg {
  border: 1px solid #cd5252;
  color: var(--failed-msg-text-color);
}

.btnContainer {
  padding-right: 20px;
  padding-top: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.75rem;
}

.btn {
  font-family: var(--font-body);
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 20px;
}

.btn:hover {
  transition: 0.3s all ease;
  background-color: var(--primary-btn-bg-hover-color);
}

.cancelBtn {
  background-color: var(--secondary-btn-bg-color);
}

.cancelBtn:hover {
  background-color: var(--secondary-btn-bg-hover-color);
}

@media (max-width: 768px) {
  .personCardContainer {
    max-width: 400px;
  }

  .cardHeaderContainer {
    font-size: 1.1rem;
  }

  .cardHeaderContainer img {
    width: 80px;
    aspect-ratio: 1/1;
  }

  .alertContainer {
    padding: 10px 8px;
    font-size: 0.9rem;
  }

  .confirmMsg {
    font-size: 0.8rem;
  }

  .btnContainer {
    padding-right: 16px;
  }

  .btn {
    padding: 7px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .personCardContainer {
    max-width: 300px;
  }

  .cardHeaderContainer {
    padding: 12px 0;
    flex-direction: column;
  }

  .cardHeaderContainer p {
    gap: 4px;
    order: 1;
  }

  .cardHeaderContainer img {
    width: 70px;
    aspect-ratio: 1/1;
    order: -1;
  }

  .alertContainer {
    padding: 8px 6px;
    margin-bottom: 0.8rem;
    font-size: 0.85rem;
  }

  .confirmMsg {
    font-size: 0.75rem;
    padding: 8px 4px;
    line-height: 1.3;
  }

  .btnContainer {
    padding-top: 12px;
  }

  .btn {
    padding: 6px 10px;
    font-size: 0.85rem;
    width: 25%;
  }
}
