.personCardContainer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  border-top: 50px solid #d6b87c;
  border-bottom: 30px solid #d6b87c;
  padding: 1rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alertContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 6px;
}
.alertContainerSuccess {
  background-color: #a5c9a5;
  color: #1e4620;
}
.alertContainerWarning {
  background-color: #e4e08d;
  color: #434218;
}

.avatarContainer {
  display: flex;
  justify-content: center;
}

.btnContainer {
  padding-right: 20px;
  padding-top: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.75rem;
}

.btn {
  font-family: var(--font-body);
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color);
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 20px;
}

.btn:hover {
  transition: 0.3s all ease;
  background-color: var(--primary-btn-bg-hover-color);
}

.cancelBtn {
  background-color: var(--secondary-btn-bg-color);
}

.cancelBtn:hover {
  background-color: var(--secondary-btn-bg-hover-color);
}

.saveBtn {
  background-color: var(--primary-btn-bg-color);
}
