header {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 80px;
}

.navBarHeader {
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.navLinks {
  text-decoration: none;
  color: var(--primary-color);
}

.navLinks:hover {
  color: #114239;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.navLinks.active {
  text-decoration: underline dotted var(--primary-color) 2px;
  text-underline-offset: 8px;
  font-weight: 500;
}

.logo {
  font-family: var(--font-heading);
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
  cursor: pointer;
}
