.footerContainer {
  background-color: #ebebbc;
  color: #175a4e;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.navBarFooter {
  display: flex;
  flex-direction: column;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.navLinks:hover {
  color: #114239;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.navLinks.active {
  text-decoration: underline dotted #175a4e 2px;
  text-underline-offset: 8px;
  font-weight: 500;
}
