:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --font-heading: "Nunito Sans", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;

  --primary-color: #175a4e;
  --secondary-color: #ebebbc;
  --tertiary-color: #a65c44;

  --primary-btn-bg-color: #175a4e;
  --secondary-btn-bg-color: #ae2a2a;
  --tertiary-btn-bg-color: #ff6b35;

  --primary-btn-bg-hover-color: #144038;
  --secondary-btn-bg-hover-color: #8f2727;
  --tertiary-btn-bg-hover-color: #e55a2b;

  --primary-btn-text-color: white;

  --success-msg-text-color: #1e4620;
  --failed-msg-text-color: #cd5252;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-body);
  height: 100%;
  background-color: var(--primary-color);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
